Repository owid/covid-19-data, pull requests merged in 2021-06, with the labels that each got.

#1466 VAX: Automate Gabon
  scripts/scripts/vaccinations/output/Gabon.csv
  scripts/scripts/vaccinations/src/vax/incremental/gabon.py
Labels: vaccinations

#1467 VAX: Automate Antigua and Barbuda
  scripts/scripts/vaccinations/output/Antigua and Barbuda.csv
  scripts/scripts/vaccinations/src/vax/incremental/antigua_barbuda.py
Labels: vaccinations

#1471 VAX: Add countries to WHO imports
  scripts/scripts/vaccinations/output/Afghanistan.csv
  scripts/scripts/vaccinations/output/Angola.csv
  scripts/scripts/vaccinations/output/Anguilla.csv
  scripts/scripts/vaccinations/output/British Virgin Islands.csv
  scripts/scripts/vaccinations/output/Cameroon.csv
  scripts/scripts/vaccinations/output/Central African Republic.csv
  scripts/scripts/vaccinations/output/Comoros.csv
  scripts/scripts/vaccinations/output/Democratic Republic of Congo.csv
  scripts/scripts/vaccinations/output/Egypt.csv
  scripts/scripts/vaccinations/output/Ghana.csv
  scripts/scripts/vaccinations/output/Honduras.csv
  scripts/scripts/vaccinations/output/Liberia.csv
  scripts/scripts/vaccinations/output/Madagascar.csv
  scripts/scripts/vaccinations/output/Mauritania.csv
  scripts/scripts/vaccinations/output/Mauritius.csv
  scripts/scripts/vaccinations/output/Montserrat.csv
  scripts/scripts/vaccinations/output/Mozambique.csv
  scripts/scripts/vaccinations/output/Sao Tome and Principe.csv
  scripts/scripts/vaccinations/output/Senegal.csv
  scripts/scripts/vaccinations/output/Sierra Leone.csv
  scripts/scripts/vaccinations/output/Sint Maarten (Dutch part).csv
  scripts/scripts/vaccinations/output/Somalia.csv
  scripts/scripts/vaccinations/output/South Sudan.csv
  scripts/scripts/vaccinations/output/Sudan.csv
  scripts/scripts/vaccinations/output/Syria.csv
  scripts/scripts/vaccinations/output/Togo.csv
  scripts/scripts/vaccinations/output/Turks and Caicos Islands.csv
  scripts/scripts/vaccinations/output/Yemen.csv
  scripts/scripts/vaccinations/src/vax/incremental/who.py
Labels: vaccinations, who

#1489 VAX: Added granular vaccine use definition in SPC
  scripts/scripts/vaccinations/output/New Caledonia.csv
  scripts/scripts/vaccinations/src/vax/batch/spc.py
Labels: vaccinations

#1491 VAX: Add Grenada and Mali to WHO automations
  scripts/scripts/vaccinations/src/vax/incremental/who.py
Labels: vaccinations, who

#1496 DOC: Added badges and links to README
  README.md
Labels: documentation

#1482 Chile : Vaccination by age group
  scripts/scripts/vaccinations/output/by_age_group/Chile.csv
  scripts/scripts/vaccinations/output/by_manufacturer/Chile.csv
  scripts/scripts/vaccinations/src/vax/batch/chile.py
Labels: vaccinations

#1494 Jersey : Vaccination by age group
  scripts/scripts/vaccinations/output/Jersey.csv
  scripts/scripts/vaccinations/output/by_age_group/Jersey.csv
  scripts/scripts/vaccinations/src/vax/batch/jersey.py
Labels: vaccinations

#1516 VAX: Age groups and manufacturers data from ECDC
  scripts/input/iso/iso.csv
  scripts/scripts/vaccinations/src/vax/batch/ecdc.py
  scripts/scripts/vaccinations/src/vax/batch/italy.py
  scripts/scripts/vaccinations/src/vax/utils/paths.py
Labels: vaccinations

#1520 Uruguay: By age group
  scripts/scripts/vaccinations/src/vax/batch/uruguay.py
Labels: vaccinations

#1460 Add six countries
  scripts/scripts/testing/automated_sheets/Antigua and Barbuda.csv
  scripts/scripts/testing/automated_sheets/Equatorial Guinea.csv
  scripts/scripts/testing/automated_sheets/Gabon.csv
  scripts/scripts/testing/automated_sheets/Saint Kitts and Nevis.csv
  scripts/scripts/testing/automated_sheets/Timor.csv
  scripts/scripts/testing/automations/incremental/antigua-and-barbuda.py
  scripts/scripts/testing/automations/incremental/equatorial-guinea.py
  scripts/scripts/testing/automations/incremental/gabon.py
  scripts/scripts/testing/automations/incremental/saint-kitts-and-nevis.py
  scripts/scripts/testing/automations/incremental/timor.py
Labels: tests

#1498 Add excess mortality + hospital + ICU to megafile & explorer
  public/data/README.md
  public/data/owid-covid-codebook.csv
  scripts/scripts/megafile.py
Labels: deaths, enhancement, needs-discussion

#1549 Create albania.r
  scripts/scripts/testing/automated_sheets/Albania.csv
  scripts/scripts/testing/automations/incremental/albania.r
Labels: tests

#1552 TESTS: Move scripts to python
  scripts/scripts/testing/automations/batch/austria.R
  scripts/scripts/testing/automations/batch/austria.py
  scripts/scripts/testing/automations/batch/belgium.R
  scripts/scripts/testing/automations/batch/belgium.py
  scripts/scripts/testing/automations/batch/cuba.R
  scripts/scripts/testing/automations/batch/cuba.py
  scripts/scripts/testing/automations/batch/cyprus.R
  scripts/scripts/testing/automations/batch/cyprus.py
  scripts/scripts/testing/automations/batch/czechia.R
  scripts/scripts/testing/automations/batch/czechia.py
  scripts/scripts/testing/automations/batch/germany.R
  scripts/scripts/testing/automations/batch/germany.py
  scripts/scripts/testing/automations/batch/taiwan.R
  scripts/scripts/testing/automations/batch/taiwan.py
Labels: tests

#1564 Added annotations in vaccination intenal file
  scripts/scripts/annotations_internal.yaml
  scripts/scripts/megafile.py
Labels: enhancement

#1565 Taiwan: now with the breakdown of 1st dose and 2nd.
  scripts/scripts/vaccinations/src/vax/incremental/taiwan.py
Labels: vaccinations

#1513 US : Vaccination by age group
  scripts/scripts/vaccinations/src/vax/incremental/united_states.py
Labels: needs-discussion, vaccinations

#1581 Portugal/vax: new source format
  scripts/scripts/vaccinations/src/vax/batch/portugal.py
Labels: vaccinations

#1591 taiwan: adapt the parser to new table format.
  scripts/scripts/vaccinations/src/vax/incremental/taiwan.py
Labels: vaccinations
