Repository owid/covid-19-data, pull requests merged in 2021-04, with the labels that each got.

#920 VACCINATIONS: Batch update for Hong Kong
  .gitignore
  scripts/scripts/vaccinations/automations/batch/hong_kong.py
  scripts/scripts/vaccinations/automations/incremental/hong_kong.py
Labels: vaccinations

#951 Add Pfizer/BioNTech to San Marino
  scripts/scripts/vaccinations/automations/incremental/san_marino.py
  scripts/scripts/vaccinations/automations/output/San Marino.csv
Labels: vaccinations

#953 Macao automation 🇲🇴
  scripts/scripts/vaccinations/automations/incremental/macao.py
  scripts/scripts/vaccinations/automations/output/Macao.csv
Labels: vaccinations

#955 Improvements on Guatemala automation
  scripts/scripts/vaccinations/automations/incremental/guatemala.py
  scripts/scripts/vaccinations/automations/output/Guatemala.csv
Labels: vaccinations

#965 Vax/incremental cold start
  scripts/scripts/vaccinations/automations/incremental/vaxutils.py
Labels: enhancement

#967 Automation vaccination New Zealand 🇳🇿
  scripts/scripts/vaccinations/automations/batch/new_zealand.py
  scripts/scripts/vaccinations/automations/batch/utils/utils.py
Labels: vaccinations

#972 Palestine roll back to manual updates
  scripts/scripts/vaccinations/automations/incremental/palestine.py
  scripts/scripts/vaccinations/automations/output/Palestine.csv
Labels: vaccinations

#974 Guatemala: Increase implicit wait
  scripts/scripts/vaccinations/automations/incremental/guatemala.py
Labels: vaccinations

#975 Macao automation 🇲🇴
  scripts/scripts/vaccinations/automations/incremental/macao.py
  scripts/scripts/vaccinations/automations/output/Macao.csv
Labels: vaccinations

#977 Brazil automation fix 🇧🇷
  scripts/scripts/vaccinations/automations/incremental/brazil.py
Labels: vaccinations

#1004 Greenland vaccination import automation 🇬🇱
  scripts/scripts/vaccinations/automations/incremental/greenland.py
  scripts/scripts/vaccinations/automations/output/Greenland.csv
Labels: vaccinations

#1021 ENH: Vaccination dataset generation
  scripts/scripts/vaccinations/automations/requirements.txt
  scripts/scripts/vaccinations/collect_vax_data.py
  scripts/scripts/vaccinations/generate_dataset.R
  scripts/scripts/vaccinations/run_python_scripts.py
Labels: enhancement

#1027 VAX: El Salvador automation
  scripts/scripts/vaccinations/automations/incremental/el_salvador.py
  scripts/scripts/vaccinations/automations/output/El Salvador.csv
Labels: vaccinations

#990 Vaccination automation guide
  scripts/README.md
  scripts/scripts/megafile.py
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/vax_update.sh.template
Labels: documentation, vaccinations

#1040 Macao automation fix
  scripts/scripts/vaccinations/automations/incremental/macao.py
  scripts/scripts/vaccinations/automations/output/Macao.csv
Labels: vaccinations

#1043 VAX: Add missing vaccines to Ecuador
  scripts/scripts/vaccinations/automations/batch/ecuador.py
Labels: vaccinations

#1046 VAX: Automate Azerbaijan
  scripts/scripts/vaccinations/automations/incremental/azerbaijan.py
  scripts/scripts/vaccinations/automations/output/Azerbaijan.csv
Labels: vaccinations

#1057 VAX: Typo in date
  scripts/scripts/vaccinations/automations/output/Azerbaijan.csv
Labels: vaccinations

#1047 Update iran.R
  scripts/scripts/testing/automations/incremental/iran.R
  scripts/scripts/testing/run_r_scripts.R
Labels: tests

#1048 Update testing_data_corrections.R
  scripts/scripts/testing/testing_data_corrections.R
Labels: tests

#1058 VAX: Sweden fix pipeline
  scripts/scripts/vaccinations/src/vax/batch/sweden.py
Labels: vaccinations

#1066 ENH: Add tools to track country updates / vaccines administered
  .gitignore
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/src/vax/tracking/__init__.py
  scripts/scripts/vaccinations/src/vax/tracking/__main__.py
  scripts/scripts/vaccinations/src/vax/tracking/countries.py
  scripts/scripts/vaccinations/src/vax/tracking/vaccines.py
Labels: enhancement, vaccinations

#1071 VAX: Macao pipeline fix
  scripts/scripts/vaccinations/output/Macao.csv
  scripts/scripts/vaccinations/src/vax/incremental/macao.py
Labels: vaccinations

#1096 VAX: Automation Curaçao data import
  scripts/scripts/vaccinations/output/Curacao.csv
  scripts/scripts/vaccinations/src/vax/incremental/curacao.py
Labels: vaccinations

#1098 VAX: Automate Kazakhstan data import
  scripts/scripts/vaccinations/output/Kazakhstan.csv
  scripts/scripts/vaccinations/src/vax/incremental/kazakhstan.py
Labels: vaccinations

#1100 VAX: Automate Taiwan data import
  scripts/scripts/vaccinations/output/Taiwan.csv
  scripts/scripts/vaccinations/src/vax/incremental/taiwan.py
Labels: vaccinations

#1117 VAX: Add past data to Curaçao
  scripts/scripts/vaccinations/output/Curacao.csv
Labels: vaccinations

#1128 VAX: Fix reporting date in Costa Rica
  scripts/scripts/vaccinations/output/Costa Rica.csv
Labels: vaccinations

#1132 VAX: Add daily reports (Netherlands)
  scripts/scripts/vaccinations/output/Netherlands.csv
  scripts/scripts/vaccinations/src/vax/incremental/netherlands.py
Labels: vaccinations

#1142 VAX: Automate Serbia
  scripts/scripts/vaccinations/output/Serbia.csv
  scripts/scripts/vaccinations/src/vax/incremental/serbia.py
Labels: vaccinations

#1143 VAX: Fix minor API url typo in India
  scripts/scripts/vaccinations/src/vax/incremental/india.py
Labels: vaccinations

#1146 VAX: Automate Nepal
  scripts/scripts/vaccinations/output/Nepal.csv
  scripts/scripts/vaccinations/src/vax/incremental/nepal.py
Labels: vaccinations

#1141 VAX: Use a smaller source dataset in Czechia
  scripts/scripts/vaccinations/src/vax/batch/czechia.py
Labels: vaccinations

#1145 VAX: New vaccines in Ukraine
  scripts/scripts/vaccinations/output/Ukraine.csv
  scripts/scripts/vaccinations/src/vax/incremental/ukraine.py
Labels: vaccinations

#1127 ENH: Data Quality and Parallelisation
  .gitignore
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/requirements.txt
  scripts/scripts/vaccinations/src/vax/__main__.py
  scripts/scripts/vaccinations/src/vax/process/process.py
  scripts/scripts/vaccinations/src/vax/tracking/countries.py
  scripts/scripts/vaccinations/src/vax/utils/checks.py
  scripts/scripts/vaccinations/src/vax/utils/gsheets.py
Labels: enhancement

#1156 VAX: Fix Thailand
  scripts/scripts/vaccinations/output/Thailand.csv
  scripts/scripts/vaccinations/src/vax/incremental/thailand.py
Labels: vaccinations

#1155 VAX: Updata El Salvador pipeline + Data consistency
  scripts/scripts/vaccinations/output/El Salvador.csv
  scripts/scripts/vaccinations/src/vax/incremental/el_salvador.py
Labels: vaccinations

#1154 VAX: Fix Colombia
  scripts/scripts/vaccinations/src/vax/incremental/colombia.py
Labels: vaccinations

#1157 ENH: Metrics checks improved
  scripts/scripts/vaccinations/src/vax/utils/checks.py
Labels: enhancement, vaccinations

#1191 VAX: Second doses + more vaccine manufacturers added (Mongolia)
  scripts/scripts/vaccinations/output/Mongolia.csv
  scripts/scripts/vaccinations/src/vax/incremental/mongolia.py
Labels: vaccinations

#1193 VAX: Add J&J to Austria
  scripts/scripts/vaccinations/output/Austria.csv
  scripts/scripts/vaccinations/src/vax/batch/austria.py
Labels: vaccinations

#1202 VAX: Add Moderna to UK
  scripts/scripts/vaccinations/output/England.csv
  scripts/scripts/vaccinations/output/Northern Ireland.csv
  scripts/scripts/vaccinations/output/Scotland.csv
  scripts/scripts/vaccinations/output/United Kingdom.csv
  scripts/scripts/vaccinations/output/Wales.csv
  scripts/scripts/vaccinations/src/vax/batch/united_kingdom.py
Labels: vaccinations

#1194 Azerbaijan
  scripts/scripts/testing/automated_sheets/Azerbaijan.csv
  scripts/scripts/testing/automations/incremental/azerbaijan.R
Labels: tests

#1177 VAX: Automate Philippines
  scripts/scripts/vaccinations/output/Philippines.csv
  scripts/scripts/vaccinations/src/vax/_static/queries/philippines-date.json
  scripts/scripts/vaccinations/src/vax/_static/queries/philippines-people-fully-vaccinated.json
  scripts/scripts/vaccinations/src/vax/_static/queries/philippines-people-vaccinated.json
  scripts/scripts/vaccinations/src/vax/_static/queries/philippines-total-vaccinations.json
  scripts/scripts/vaccinations/src/vax/incremental/philippines.py
  scripts/scripts/vaccinations/src/vax/utils/files.py
Labels: vaccinations

#1206 VAX: Fix vaccines Belgium
  scripts/scripts/vaccinations/src/vax/batch/belgium.py
Labels: vaccinations

#1192 ENH: Command tool
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/setup.py
  scripts/scripts/vaccinations/src/vax/__main__.py
  scripts/scripts/vaccinations/src/vax/tracking/__main__.py
Labels: enhancement

#1218 VAX: Add J&J support for Belgium
  scripts/scripts/vaccinations/output/Belgium.csv
  scripts/scripts/vaccinations/src/vax/batch/belgium.py
Labels: vaccinations

#1208 VAX: Estonia batch
  scripts/scripts/vaccinations/output/Estonia.csv
  scripts/scripts/vaccinations/src/vax/batch/estonia.py
  scripts/scripts/vaccinations/src/vax/incremental/estonia.py
Labels: vaccinations

#1219 VAX: Update NL pipeline
  scripts/scripts/vaccinations/output/Netherlands.csv
  scripts/scripts/vaccinations/src/vax/incremental/netherlands.py
Labels: vaccinations

#1220 VAX: Automate Trinidad and Tobago
  scripts/scripts/vaccinations/src/vax/_static/data/trinidad-and-tobago-legacy.csv
  scripts/scripts/vaccinations/src/vax/_static/queries/trinidad-and-tobago-metrics.json
  scripts/scripts/vaccinations/src/vax/batch/trinidad_and_tobago.py
  scripts/scripts/vaccinations/src/vax/utils/files.py
  scripts/scripts/vaccinations/src/vax/utils/utils.py
Labels: vaccinations

#1229 ENH: Run cowid-vax for some countries
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/src/vax/__main__.py
Labels: vaccinations
