Repository owid/covid-19-data, pull requests merged in 2021-05, with the labels that each got.

#1238 ENH: Improved cowid-vax `--countries` variable capabilities
  scripts/scripts/vaccinations/src/vax/__main__.py
Labels: enhancement, vaccinations

#1280 Add lebanon.R
  scripts/scripts/testing/automations/incremental/lebanon.R
Labels: tests

#1325 Create WHO incremental collector
  scripts/scripts/vaccinations/output/Egypt.csv
  scripts/scripts/vaccinations/src/vax/incremental/who.py
  scripts/scripts/vaccinations/src/vax/utils/checks.py
Labels: enhancement, vaccinations

#1323 VAX: Add SPC data
  scripts/scripts/vaccinations/output/Fiji.csv
  scripts/scripts/vaccinations/output/Nauru.csv
  scripts/scripts/vaccinations/output/Papua New Guinea.csv
  scripts/scripts/vaccinations/output/Samoa.csv
  scripts/scripts/vaccinations/output/Solomon Islands.csv
  scripts/scripts/vaccinations/output/Tonga.csv
  scripts/scripts/vaccinations/output/Tuvalu.csv
  scripts/scripts/vaccinations/src/vax/_static/data/fiji-legacy.csv
  scripts/scripts/vaccinations/src/vax/_static/data/nauru-legacy.csv
  scripts/scripts/vaccinations/src/vax/batch/spc.py
Labels: vaccinations

#1337 Add new aggregates: Income groups
  scripts/input/iso/iso3166_1_alpha_3_codes.csv
  scripts/input/owid/income_groups_complement.csv
  scripts/input/owid/subnational_population_2020.csv
  scripts/input/un/population_2020.csv
  scripts/input/wb/income_groups.csv
  scripts/scripts/import_inputs.py
  scripts/scripts/vaccinations/src/vax/cmd/generate_dataset.py
Labels: vaccinations

#1339 VAX: Automate Bolivia
  scripts/scripts/vaccinations/output/Bolivia.csv
  scripts/scripts/vaccinations/src/vax/cmd/get_data.py
  scripts/scripts/vaccinations/src/vax/incremental/bolivia.py
Labels: vaccinations

#1342 VAX: New WHO automations
  scripts/scripts/vaccinations/output/Benin.csv
  scripts/scripts/vaccinations/output/Bonaire Sint Eustatius and Saba.csv
  scripts/scripts/vaccinations/output/Comoros.csv
  scripts/scripts/vaccinations/output/Congo.csv
  scripts/scripts/vaccinations/output/Djibouti.csv
  scripts/scripts/vaccinations/output/Guinea-Bissau.csv
  scripts/scripts/vaccinations/output/Lesotho.csv
  scripts/scripts/vaccinations/output/Liberia.csv
  scripts/scripts/vaccinations/output/Madagascar.csv
  scripts/scripts/vaccinations/output/Mauritius.csv
  scripts/scripts/vaccinations/output/Nicaragua.csv
  scripts/scripts/vaccinations/output/Sint Maarten (Dutch part).csv
  scripts/scripts/vaccinations/output/Somalia.csv
  scripts/scripts/vaccinations/output/Tajikistan.csv
  scripts/scripts/vaccinations/output/Turkmenistan.csv
  scripts/scripts/vaccinations/output/Yemen.csv
  scripts/scripts/vaccinations/src/vax/incremental/who.py
Labels: vaccinations

#1356 Combine different steps. Change mode names, now shorter.
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/src/vax/cmd/__main__.py
  scripts/scripts/vaccinations/src/vax/cmd/_config.py
  scripts/scripts/vaccinations/src/vax/cmd/_parser.py
  scripts/scripts/vaccinations/vax_update.sh.template
Labels: enhancement, vaccinations

#1357 ENH: More checks
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/config.yaml
  scripts/scripts/vaccinations/src/vax/cmd/__main__.py
  scripts/scripts/vaccinations/src/vax/cmd/_config.py
  scripts/scripts/vaccinations/src/vax/cmd/process_data.py
  scripts/scripts/vaccinations/src/vax/process/process.py
  scripts/scripts/vaccinations/src/vax/utils/checks.py
  scripts/scripts/vaccinations/src/vax/utils/gsheets.py
Labels: enhancement, vaccinations

#1358 Moldova
  scripts/scripts/testing/automated_sheets/Moldova.csv
  scripts/scripts/testing/automations/incremental/moldova.R
Labels: tests

#1359 VAX: J&J support Greece
  scripts/scripts/vaccinations/output/Greece.csv
  scripts/scripts/vaccinations/src/vax/batch/greece.py
Labels: vaccinations

#1369 ENH: Automate URL cleaning
  scripts/scripts/vaccinations/src/vax/process/process.py
  scripts/scripts/vaccinations/src/vax/process/urls.py
Labels: enhancement, vaccinations

#1386 VAX: Automate Gambia
  scripts/scripts/vaccinations/output/Gambia.csv
  scripts/scripts/vaccinations/src/vax/incremental/gambia.py
  scripts/scripts/vaccinations/src/vax/utils/incremental.py
  scripts/scripts/vaccinations/src/vax/utils/utils.py
Labels: vaccinations

#1389 VAX: Automate Andorra
  scripts/scripts/vaccinations/output/Andorra.csv
  scripts/scripts/vaccinations/src/vax/incremental/andorra.py
Labels: vaccinations

#1405 Update Azerbaijan vaccine list
  scripts/scripts/vaccinations/output/Azerbaijan.csv
  scripts/scripts/vaccinations/src/vax/incremental/azerbaijan.py
Labels: vaccinations

#1406 Update Cyprus vaccine list
  scripts/scripts/vaccinations/output/Cyprus.csv
  scripts/scripts/vaccinations/src/vax/incremental/cyprus.py
Labels: vaccinations

#1409 Update Sri Lanka vaccine list
  scripts/scripts/vaccinations/output/Sri Lanka.csv
  scripts/scripts/vaccinations/src/vax/incremental/sri_lanka.py
Labels: vaccinations

#1410 Update Pakistan covid vaccine list
  scripts/scripts/vaccinations/output/Pakistan.csv
  scripts/scripts/vaccinations/src/vax/incremental/pakistan.py
Labels: vaccinations

#1388 ENH: Add timestamps per process
  scripts/scripts/hosp.py
  scripts/scripts/megafile.py
  scripts/scripts/testing/generate_dataset.R
  scripts/scripts/utils/utils.py
  scripts/scripts/vaccinations/src/vax/cmd/generate_dataset.py
  scripts/scripts/vaccinations/src/vax/utils/paths.py
  scripts/timestamp/owid-covid-data-last-updated-timestamp-root.txt
  scripts/timestamp/owid-covid-data-last-updated-timestamp-test.txt
  scripts/timestamp/owid-covid-data-last-updated-timestamp-vaccination.txt
Labels: enhancement

#1420 VAX: Add second dose information Australia
  scripts/scripts/vaccinations/output/Australia.csv
  scripts/scripts/vaccinations/src/vax/batch/australia.py
Labels: vaccinations

#1372 Add scripts for automating some more countries
  scripts/scripts/testing/automated_sheets/Belize.csv
  scripts/scripts/testing/automated_sheets/Benin.csv
  scripts/scripts/testing/automated_sheets/Cambodia.csv
  scripts/scripts/testing/automated_sheets/Laos.csv
  scripts/scripts/testing/automations/incremental/belize.py
  scripts/scripts/testing/automations/incremental/benin.py
  scripts/scripts/testing/automations/incremental/cambodia.py
  scripts/scripts/testing/automations/incremental/laos.py
Labels: tests

#1425 VAX: Automate Albania
  scripts/scripts/vaccinations/output/Albania.csv
  scripts/scripts/vaccinations/src/vax/incremental/albania.py
  scripts/scripts/vaccinations/src/vax/utils/dates.py
Labels: vaccinations

#1426 VAX: Add countries to WHO import process
  scripts/scripts/vaccinations/output/Belarus.csv
  scripts/scripts/vaccinations/output/Montserrat.csv
  scripts/scripts/vaccinations/output/Oman.csv
  scripts/scripts/vaccinations/src/vax/incremental/ghana.py
  scripts/scripts/vaccinations/src/vax/incremental/who.py
Labels: vaccinations, who

#1431 VAX: Automate Guernsey
  scripts/scripts/vaccinations/output/Guernsey.csv
  scripts/scripts/vaccinations/src/vax/incremental/guernsey.py
  scripts/scripts/vaccinations/src/vax/utils/dates.py
  scripts/scripts/vaccinations/src/vax/utils/incremental.py
Labels: vaccinations

#1438 Malawi
  scripts/scripts/testing/automated_sheets/Malawi.csv
  scripts/scripts/testing/automations/batch/malawi.py
  scripts/scripts/testing/automations/incremental/malawi.R
Labels: tests

#1445 VAX: Automate Cuba
  scripts/scripts/vaccinations/output/Cuba.csv
  scripts/scripts/vaccinations/src/vax/incremental/cuba.py
  scripts/scripts/vaccinations/src/vax/utils/utils.py
Labels: vaccinations

#1452 Remove Vaccination R scripts
  scripts/scripts/vaccinations/generate_dataset.R
  scripts/scripts/vaccinations/generate_dataset_by_manufacturer.R
Labels: vaccinations

#1434 Italy : Vaccination by age group
  scripts/scripts/vaccinations/output/by_age_group/Italy.csv
  scripts/scripts/vaccinations/src/vax/batch/italy.py
  scripts/scripts/vaccinations/src/vax/utils/paths.py
Labels: needs-discussion, vaccinations

#1439 ENH: Data proposer collecting Twitter data
  scripts/scripts/vaccinations/README.md
  scripts/scripts/vaccinations/output/proposals/Eswatini.csv
  scripts/scripts/vaccinations/output/proposals/Ethiopia.csv
  scripts/scripts/vaccinations/output/proposals/Gabon.csv
  scripts/scripts/vaccinations/output/proposals/Gibraltar.csv
  scripts/scripts/vaccinations/output/proposals/Guinea.csv
  scripts/scripts/vaccinations/output/proposals/Kenya.csv
  scripts/scripts/vaccinations/output/proposals/Malawi.csv
  scripts/scripts/vaccinations/output/proposals/Maldives.csv
  scripts/scripts/vaccinations/output/proposals/Nigeria.csv
  scripts/scripts/vaccinations/output/proposals/Panama.csv
  scripts/scripts/vaccinations/output/proposals/Paraguay.csv
  scripts/scripts/vaccinations/output/proposals/Uganda.csv
  scripts/scripts/vaccinations/output/proposals/Zimbabwe.csv
  scripts/scripts/vaccinations/requirements.txt
  scripts/scripts/vaccinations/src/vax/cmd/__main__.py
  scripts/scripts/vaccinations/src/vax/cmd/_config.py
  scripts/scripts/vaccinations/src/vax/cmd/_parser.py
  scripts/scripts/vaccinations/src/vax/cmd/twitter.py
  scripts/scripts/vaccinations/src/vax/manual/__init__.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/__init__.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/base.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/eswatini.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/ethiopia.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/gabon.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/gibraltar.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/guinea.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/kenya.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/malawi.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/maldives.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/nigeria.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/panama.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/paraguay.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/uganda.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/utils.py
  scripts/scripts/vaccinations/src/vax/manual/twitter/zimbabwe.py
  scripts/scripts/vaccinations/src/vax/tracking/countries.py
  scripts/scripts/vaccinations/src/vax/utils/dates.py
  scripts/scripts/vaccinations/src/vax/utils/paths.py
  scripts/scripts/vaccinations/src/vax/utils/utils.py
Labels: enhancement, vaccinations
