Repository owid/covid-19-data, pull requests merged in 2022-02, with the labels that each got.

#2364 refactor(test,Romania): python migration
  scripts/scripts/testing/automated_sheets/Romania.csv
  scripts/scripts/testing/automations/incremental/romania.R
  scripts/scripts/testing/automations/incremental/romania.py
Labels: testing, refactor, priority:low

#2361 refactor(test,Iceland): python migration
  scripts/scripts/testing/automated_sheets/Iceland.csv
  scripts/scripts/testing/automations/batch/iceland.R
  scripts/scripts/testing/automations/batch/iceland.py
Labels: testing, refactor, priority:low

#2363 refactor(test,Luxembourg): python migration
  scripts/scripts/testing/automated_sheets/Luxembourg.csv
  scripts/scripts/testing/automations/batch/luxembourg.R
  scripts/scripts/testing/automations/batch/luxembourg.py
Labels: testing, refactor, priority:low

#2389 refactor(vax,kenya): pdfminer
  scripts/src/cowidev/vax/incremental/kenya.py
Labels: vaccinations, refactor, priority:low

#2392 refactor(test,philippines): pdfminer
  scripts/scripts/testing/automations/batch/philippines.py
Labels: testing, refactor, priority:low

#2388 refactor(vax,aze): pdfminer
  scripts/output/vaccinations/main_data/Azerbaijan.csv
  scripts/src/cowidev/vax/incremental/azerbaijan.py
Labels: vaccinations, refactor, priority:low

#2360 refactor(test,denmark): python migration
  scripts/scripts/testing/automated_sheets/Denmark.csv
  scripts/scripts/testing/automations/batch/denmark.R
  scripts/scripts/testing/automations/batch/denmark.py
Labels: testing, refactor, priority:low

#2411 (tests, zambia): drop erroneous data point
  scripts/src/cowidev/testing/batch/zambia.py
Labels: testing

#2414 fix(tests, cambodia)
  scripts/scripts/testing/automated_sheets/Cambodia.csv
  scripts/src/cowidev/testing/incremental/cambodia.py
Labels: testing, priority:low

#2379 Automation(test, Vietnam):New Script
  scripts/scripts/testing/automated_sheets/Vietnam.csv
  scripts/src/cowidev/testing/incremental/vietnam.py
Labels: testing, refactor, priority:low

#2413 fix(tests, costa rica)
  scripts/requirements.txt
  scripts/src/cowidev/testing/batch/costa_rica.py
Labels: testing, priority:low

#2418 Ukraine add total_boosters vaccination info
  scripts/src/cowidev/vax/batch/ukraine.py
Labels: vaccinations, priority:mid

#2425 (tests, netherlands): calculate PR directly
  scripts/output/testing/main_data/Netherlands.csv
  scripts/src/cowidev/testing/batch/netherlands.py
Labels: testing, priority:high

#2435 Add(vax,Laos): New country
  scripts/output/vaccinations/main_data/Laos.csv
  scripts/src/cowidev/vax/incremental/laos.py
  scripts/src/cowidev/vax/utils/orgs/who_config.yaml
Labels: vaccinations, priority:mid

#2428 refactor(test, Peru): Change source
  scripts/output/testing/main_data/Peru.csv
  scripts/src/cowidev/testing/batch/peru.py
Labels: testing, refactor, priority:low

#2433 refactor (vax, Philippines)
  scripts/src/cowidev/vax/incremental/philippines.py
Labels: vaccinations, refactor, priority:low

#2440 refactor(test, UAE): Simplify
  scripts/output/testing/main_data/United Arab Emirates.csv
  scripts/src/cowidev/testing/batch/united_arab_emirates.py
Labels: testing, refactor, priority:low

#2436 enhance(test,Laos)
  scripts/output/testing/main_data/Laos.csv
  scripts/src/cowidev/testing/incremental/laos.py
Labels: testing, priority:low

#2438 refactor(test, Sri Lanka): Simplify
  scripts/output/testing/main_data/Sri Lanka.csv
  scripts/src/cowidev/testing/batch/sri_lanka.py
Labels: testing, refactor, priority:low

#2441 refactor(test,senegal): Simplify
  scripts/output/testing/main_data/Senegal.csv
  scripts/src/cowidev/testing/batch/senegal.py
Labels: testing, refactor, priority:low

#2443 refactor(test, sau): Standardizing
  scripts/output/testing/main_data/Saudi Arabia.csv
  scripts/src/cowidev/testing/batch/saudi_arabia.py
Labels: testing, refactor, priority:low

#2445 refactor(test, Croatia): Standardize
  scripts/output/testing/main_data/Croatia.csv
  scripts/src/cowidev/testing/incremental/croatia.py
Labels: testing, refactor, priority:low

#2442 refactor&feat(test, Norway): Positive rate added
  scripts/output/testing/main_data/Norway.csv
  scripts/src/cowidev/testing/batch/norway.py
Labels: testing, refactor, priority:low

#2449 refactor(test, atg): Standardizing
  scripts/output/testing/main_data/Antigua and Barbuda.csv
  scripts/src/cowidev/testing/incremental/antigua_barbuda.py
Labels: testing, refactor, priority:low

#2451 refactor(test,aze): Standardizing
  scripts/output/testing/main_data/Azerbaijan.csv
  scripts/src/cowidev/testing/incremental/azerbaijan.py
Labels: testing, refactor, priority:low

#2452 refactor(test,BLR): Change source
  scripts/output/testing/main_data/Belarus.csv
  scripts/src/cowidev/testing/incremental/belarus.py
Labels: testing, refactor, priority:low

#2453 refactor&enhance(test,BLZ): Standardizing
  scripts/output/testing/main_data/Belize.csv
  scripts/src/cowidev/testing/incremental/belize.py
Labels: testing, refactor, priority:low

#2454 refactor(test, GRC): Standardizing
  scripts/output/testing/main_data/Greece.csv
  scripts/src/cowidev/testing/incremental/greece.py
Labels: testing, refactor, priority:low

#2455 refactor(test, MKD): Standardizing
  scripts/output/testing/main_data/North Macedonia.csv
  scripts/src/cowidev/testing/incremental/north_macedonia.py
Labels: testing, refactor, priority:low

#2456 refactor(test, KNA): Standardizing
  scripts/output/testing/main_data/Saint Kitts and Nevis.csv
  scripts/src/cowidev/testing/incremental/saint_kitts_nevis.py
Labels: testing, refactor, priority:low

#2457 refactor(test, SVK): Standardizing
  scripts/output/testing/main_data/Slovakia.csv
  scripts/src/cowidev/testing/batch/slovakia.py
Labels: testing, refactor, priority:low

#2459 refactor(test, TWN): Standardizing
  scripts/output/testing/main_data/Taiwan.csv
  scripts/src/cowidev/testing/batch/taiwan.py
Labels: testing, refactor, priority:low

#2460 refactor(test,TLS): Standardizing
  scripts/output/testing/main_data/Timor.csv
  scripts/src/cowidev/testing/incremental/timor.py
Labels: testing, refactor, priority:low

#2462 refactor(test, TUN): Standardizing
  scripts/output/testing/main_data/Tunisia.csv
  scripts/src/cowidev/testing/incremental/tunisia.py
Labels: testing, refactor, priority:low

#2458 refactor(test,SVN) : Ag added to test and positive definition
  scripts/output/testing/main_data/Slovenia.csv
  scripts/src/cowidev/testing/batch/slovenia.py
Labels: testing, refactor, priority:low

#2448 refactor(test,AND): convert to batch
  scripts/output/testing/main_data/Andorra.csv
  scripts/src/cowidev/testing/batch/andorra.py
  scripts/src/cowidev/testing/incremental/andorra.py
Labels: testing, refactor, priority:low

#2472 Add(test,armenia): New country
  scripts/output/testing/main_data/Armenia.csv
  scripts/src/cowidev/testing/batch/armenia.py
Labels: enhancement, testing, priority:low

#2483 enhance(vax, Nepal): New country automation
  scripts/output/vaccinations/by_manufacturer/Nepal.csv
  scripts/output/vaccinations/main_data/Nepal.csv
  scripts/output/vaccinations/metadata/locations-manufacturer.csv
  scripts/src/cowidev/vax/incremental/nepal.py
Labels: dom:vaccinations

#2487 enhance(vax, Vietnam): Boosters added.
  scripts/output/vaccinations/main_data/Vietnam.csv
  scripts/src/cowidev/vax/incremental/vietnam.py
Labels: dom:vaccinations

#2493 enhance(vax, Libya): New country automation
  scripts/output/vaccinations/main_data/Libya.csv
  scripts/src/cowidev/vax/incremental/libya.py
Labels: enhancement, dom:vaccinations, priority:low

#2491 enhance(test, Myanmar): New country automation
  scripts/output/testing/main_data/Myanmar.csv
  scripts/src/cowidev/testing/incremental/myanmar.py
Labels: enhancement, dom:testing, priority:low

#2480 fix(tests,iceland)
  scripts/output/testing/main_data/Iceland.csv
  scripts/src/cowidev/testing/batch/iceland.py
Labels: bug, dom:testing, priority:high

#2484 enhance(test, Nepal): New Country automation
  scripts/output/testing/main_data/Nepal.csv
  scripts/src/cowidev/testing/incremental/nepal.py
Labels: enhancement, dom:testing, priority:low

#2506 simplify(tests, lebanon)
  scripts/config.yaml
  scripts/src/cowidev/testing/incremental/lebanon.py
Labels: dom:testing, refactor, priority:low

#2511 enhance(vax,ecdc): decoupling countries
  scripts/output/vaccinations/main_data/Austria.csv
  scripts/src/cowidev/vax/batch/ecdc.py
Labels: dom:vaccinations, priority:mid

#2516 Add(test, TZA): Country automation
  scripts/output/testing/main_data/Tanzania.csv
  scripts/src/cowidev/testing/incremental/tanzania.py
Labels: enhancement, dom:testing, priority:low
