Repository owid/covid-19-data, pull requests merged in 2022-03, with the labels that each got.

#2513 enhance(vax,fiji): add boosters and correct vaccine timeline
  scripts/output/vaccinations/main_data/Fiji.csv
  scripts/src/cowidev/vax/batch/spc.py
  scripts/src/cowidev/vax/incremental/fiji.py
Labels: dom:vaccinations, priority:high

#2519 enhance(vax, BRB): Country automation
  scripts/output/vaccinations/main_data/Barbados.csv
  scripts/src/cowidev/vax/incremental/barbados.py
Labels: enhancement, dom:vaccinations, priority:low

#2514 enhance(tests, JOR): Country automation
  scripts/output/testing/main_data/Jordan.csv
  scripts/src/cowidev/testing/incremental/jordan.py
Labels: enhancement, dom:testing, priority:low

#2520 enhance(test, BRB): Country automation
  scripts/output/testing/main_data/Barbados.csv
  scripts/src/cowidev/testing/incremental/barbados.py
Labels: enhancement, dom:testing, priority:low

#2524 enhance(test, Kosovo): automation
  scripts/output/testing/main_data/Kosovo.csv
  scripts/src/cowidev/testing/incremental/kosovo.py
Labels: enhancement, dom:testing, priority:low

#2530 enhance(vax, ZAF): automation
  scripts/config.yaml
  scripts/output/vaccinations/by_manufacturer/South Africa.csv
  scripts/output/vaccinations/main_data/South Africa.csv
  scripts/output/vaccinations/metadata/locations-manufacturer.csv
  scripts/src/cowidev/vax/incremental/south_africa.py
Labels: enhancement, dom:vaccinations, priority:low

#2541 Vax/azerbaijan
  scripts/output/vaccinations/main_data/Azerbaijan.csv
  scripts/src/cowidev/vax/incremental/azerbaijan.py
  scripts/src/cowidev/vax/utils/base.py
Labels: bug, dom:vaccinations, priority:high

#2547 fixes(#2545): Add Pfizer booster
  scripts/output/vaccinations/by_manufacturer/Nepal.csv
  scripts/output/vaccinations/main_data/Nepal.csv
  scripts/output/vaccinations/metadata/locations-manufacturer.csv
  scripts/src/cowidev/vax/incremental/nepal.py
Labels: bug, dom:vaccinations

#2529 enhance(test, GIB): Automation
  scripts/output/testing/main_data/Gibraltar.csv
  scripts/src/cowidev/testing/incremental/gibraltar.py
Labels: enhancement, dom:testing, priority:low

#2531 enhance(test, HTI): automation
  scripts/output/testing/main_data/Haiti.csv
  scripts/src/cowidev/testing/incremental/haiti.py
Labels: enhancement, dom:testing, priority:low

#2559 enhance(test): Bahamas automation
  scripts/output/testing/main_data/Bahamas.csv
  scripts/src/cowidev/testing/incremental/bahamas.py
Labels: enhancement, dom:testing, priority:low

#2557 enhance(test): EMRO automation
  scripts/output/testing/main_data/Afghanistan.csv
  scripts/output/testing/main_data/Iraq.csv
  scripts/output/testing/main_data/Oman.csv
  scripts/output/testing/main_data/Syria.csv
  scripts/output/testing/main_data/Yemen.csv
  scripts/src/cowidev/testing/incremental/emro.py
  scripts/src/cowidev/testing/utils/orgs/__init__.py
  scripts/src/cowidev/testing/utils/orgs/_config_loader.py
  scripts/src/cowidev/testing/utils/orgs/emro_config.yaml
Labels: enhancement, dom:testing, priority:low

#2561 enhance(test): Ecuador automation
  scripts/output/testing/main_data/Ecuador.csv
  scripts/output/testing/status/status-test-get-ts.txt
  scripts/output/testing/status/status-test-get.csv
  scripts/src/cowidev/testing/batch/ecuador.py
Labels: enhancement, dom:testing, priority:low

#2565 enhance(test): Trinidad and Tobago automation
  scripts/output/testing/main_data/Trinidad and Tobago.csv
  scripts/output/testing/status/status-test-get.csv
  scripts/src/cowidev/testing/batch/trinidad_and_tobago.py
Labels: enhancement, dom:testing, priority:low

#2569 enhance(test): Maldives automation
  scripts/output/testing/main_data/Maldives.csv
  scripts/output/testing/status/status-test-get-ts.txt
  scripts/output/testing/status/status-test-get.csv
  scripts/output/vaccinations/by_age_group/Argentina.csv
  scripts/output/vaccinations/status/status-vax-get-ts.txt
  scripts/output/vaccinations/status/status-vax-get.csv
  scripts/src/cowidev/testing/incremental/maldives.py
  scripts/src/cowidev/vax/batch/argentina.py
Labels: enhancement, dom:testing, priority:low

#2566 enhance(test): Paraguay automation
  scripts/output/testing/main_data/Paraguay.csv
  scripts/src/cowidev/testing/incremental/paraguay.py
Labels: enhancement, dom:testing, priority:low

#2560 enhance(test): Vanuatu automation
  scripts/output/testing/main_data/Vanuatu.csv
  scripts/src/cowidev/testing/incremental/vanuatu.py
Labels: enhancement, dom:testing, priority:low

#2572 fix(test, JOR): new payload and query
  scripts/config.yaml
  scripts/output/testing/status/status-test-get-ts.txt
  scripts/src/cowidev/testing/incremental/jordan.py
Labels: dom:testing, refactor, priority:low
