Repository owid/covid-19-data, pull requests merged in 2022-05, with the labels that each got.

#2638 fix(australia,pr)
  scripts/output/testing/main_data/Australia.csv
  scripts/output/testing/status/status-test-get-ts.txt
  scripts/output/testing/status/status-test-get.csv
  scripts/src/cowidev/testing/batch/australia.py
Labels: dom:testing

#2631 feat(vax,ecdc): Add Novavax for Belgium, Croatia, Cyprus, Estonia, Greece, Ireland, Luxembourg, Poland and Sweden
  scripts/output/vaccinations/main_data/Croatia.csv
  scripts/output/vaccinations/main_data/Cyprus.csv
  scripts/output/vaccinations/main_data/Poland.csv
  scripts/src/cowidev/vax/batch/belgium.py
  scripts/src/cowidev/vax/batch/estonia.py
  scripts/src/cowidev/vax/batch/greece.py
  scripts/src/cowidev/vax/batch/ireland.py
  scripts/src/cowidev/vax/batch/luxembourg.py
  scripts/src/cowidev/vax/batch/sweden.py
  scripts/src/cowidev/vax/incremental/croatia.py
  scripts/src/cowidev/vax/incremental/cyprus.py
  scripts/src/cowidev/vax/incremental/poland.py
Labels: dom:vaccinations, priority:mid

#2637 fix(vax,lva): Build the correct vaccine timeline
  scripts/output/vaccinations/main_data/Latvia.csv
  scripts/src/cowidev/vax/batch/latvia.py
Labels: dom:vaccinations, priority:mid

#2641 feat(vax,can): Add age group and manufacturer data from Public Health Agency of Canada
  scripts/output/vaccinations/by_age_group/Canada.csv
  scripts/output/vaccinations/by_manufacturer/Canada.csv
  scripts/output/vaccinations/main_data/Canada.csv
  scripts/output/vaccinations/metadata/locations-age.csv
  scripts/output/vaccinations/metadata/locations-manufacturer.csv
  scripts/output/vaccinations/status/status-vax-get-ts.txt
  scripts/output/vaccinations/status/status-vax-get.csv
  scripts/src/cowidev/vax/batch/canada.py
Labels: enhancement, dom:vaccinations, priority:low
